.large-stepper {
    border: 2px solid #e5e7eb;
    padding: 0 !important;
    margin-top: 50px;
    & > div {
        position: relative;
        padding: 12.5px 20px;
        &:not(&:first-child) {
            padding-left: 30px;
        }
        &:not(&:last-child) {
            border-right: 2px solid #e5e7eb;
            &::before {
                content: '';
                position: absolute;
                width: 0;
                right: -23px;
                top: 40%;
                transform: rotate(90deg);
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #e6e8eb;
            }
            &::after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                right: -20px;
                transform: rotate(90deg);
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #fff;
                position: absolute;
                top: 40%;
            }
        }
    }
}

.small-stepper {
    display: none;
}

@media screen and (max-width: 980px) {
    .large-stepper {
        display: none !important;
    }
    .small-stepper {
        display: block !important;
    }
}
