.container {
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;
    background: #1e1f24;
    width: 100vw;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
        text-align: center;
        button {
            width: 90vw;
            margin-top: 10px;
        }
    }
}
