.grid-layout {
    * {
        padding: 0 !important;
    }
}

@media screen and (max-width: 1120px) {
    .grid-layout {
        gap: 1 !important;
        div {
            grid-column: span 10 / span 10;
        }
    }
    .text {
        grid-row: span 10 / span 10 !important;
        p {
            margin-bottom: 5px !important;
        }
    }
}
