.clouds {
    margin: 20px 0;
    * {
        filter: grayscale(75);
        opacity: 0.5;
        max-width: 300px;
        min-width: 260px;
        max-height: 90px;
        margin: 2.5% 5%;
    }
}
