.header {
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 48px;
    z-index: 9999999999999;
    padding: 30px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.1s;
}
