.container {
    width: 90%;
    margin: auto;
}

.title {
    font-size: 55px;
    margin: 2.5% 0;
}

.form {
    flex-direction: row;
    flex-wrap: wrap;
}

.cards {
    margin-bottom: 2%;
}

.card {
    border-radius: 7px;
    * {
        font-weight: 500;
        font-family: 'Inter', sans-serif;
    }
    img {
        width: 100%;
        text-align: center;
    }
}

.map {
    width: 100%;
    height: 400px;
    margin: 2.5% 0;
    border-radius: 10px;
}

.form {
    border-radius: 10px;
    min-height: 400px;
    * {
        font-family: 'Inter', sans-serif;
    }
    &-info {
        flex-shrink: 1;
        width: 30%;
        padding: 30px;
        color: white;
        border-radius: 10px;
        background-size: cover;
        background: #3e1f92;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-title {
            font-size: 35px;
            font-weight: 600;
        }
        &-subtitle {
            color: #c0a9f6;
        }
        &-contacts {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > div {
                margin-bottom: 7.5%;
                * {
                    margin-right: 10px;
                }
            }
        }
    }
    &-social {
        display: flex;
        align-items: center;
        a {
            padding: 7.5px;
            border-radius: 50px;
            margin-right: 5px;
            &:hover {
                background: #fa949d;
            }
        }
    }
    &-inputs {
        width: 70%;
        padding: 30px;
        * {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .form-info {
        width: 40%;
    }
    .form-inputs {
        width: 60%;
    }
}

@media screen and (max-width: 1120px) {
    .form-info {
        width: 100%;
        &-contacts {
            margin: 50px 0;
            & > div {
                margin-bottom: 20px;
            }
        }
    }
    .form-inputs {
        padding: 30px 0;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .card {
        grid-column: span 2 / span 2 !important;
    }
}
