.title {
    font-size: 55px;
    width: 100%;
    color: white;
}

.subtitle {
    font-size: 25px;
    color: silver;
    width: 30%;
    margin: auto;
}

.heading {
    font-size: 30px;
    color: white;
}

.card {
    align-items: center;
    border-radius: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    margin-right: 20px;
    cursor: pointer;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    &-title {
        width: 65%;
        font-size: 20px;
        font-family: 'Inter', serif !important;
        font-weight: 600;
    }
    &-additional {
        margin-top: 10px;
        font-size: 18px;
        color: #808080;
        font-weight: 400 !important;
        font-family: 'Inter', serif !important;
    }
}

.cards {
    padding: 0 10%;
}

@media screen and (max-width: 1440px) {
    .cards {
        padding: 0 5%;
    }
}

@media screen and (max-width: 1200px) {
    .cards {
        padding: 0 2.5%;
    }
    .card {
        grid-column: span 3 / span 3 !important;
        margin-right: 0;
    }

    .subtitle {
        width: 60%;
    }
}

@media screen and (max-width: 980px) {
    .subtitle {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 45px;
    }
    .subtitle {
        font-size: 20px;
    }
    .heading {
        font-size: 20px;
        margin-top: 2.5%;
    }
    .card {
        &-title {
            font-size: 18px;
            width: 100%;
        }
        &-additional {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 40px;
        width: auto;
    }
}
