.title {
    font-size: 55px;
}

.container {
    padding: 5% 20px !important;
    width: 60%;
    margin: auto;
    hr {
        margin: 3% 0;
    }
    *:not(.title, h2) {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 300;
        font-family: 'Noto Serif', sans-serif;
    }
    form * {
        font-family: 'Mulish', sans-serif !important;
    }
    ul {
        margin-left: 15px;
        li {
            margin: 0 !important;
            margin-bottom: 10px !important;
        }
    }
    h2 {
        margin-top: 5%;
        font-size: 35px !important;
    }
}

.heading {
    font-size: 35px !important;
}

.label {
    font-size: 20px !important;
    font-weight: 800 !important;
    margin-top: 2.5%;
    span {
        color: #e53e3e;
    }
}

.drop-files {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 7.5% !important;
    border: 2px dashed silver;
    button {
        background: white !important;
        border-radius: 30px;
        border: 1px solid #4f46e5;
        padding: 10px 20px;
        margin-top: 15px !important;
        font-size: 16px !important;
    }
    * {
        font-size: 18px !important;
        margin: 0 !important;
    }
}

.error {
    margin: 5px !important;
    font-size: 15px !important;
    color: #e53e3e;
}

.input-group {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    margin: 10px 0 !important;
    div {
        width: 47.5%;
        margin-bottom: 0 !important;
    }
    input {
        padding: 4% !important;
    }
}

.submit-button {
    color: white;
    background: #14171a !important;
    font-size: 18px !important;
    padding: 2.25% 20px !important;
    border-radius: 30px !important;
    font-weight: 700 !important;
}

@media screen and (max-width: 1150px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 45px;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        div {
            width: 100%;
        }
    }
}
