.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    padding-bottom: 20px;
    h2,
    p,
    & > div,
    img {
        font-family: 'Noto Serif', serif !important;
        margin-bottom: 1%;
        padding: 0 1.5%;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        text-justify: auto;
    }
    h1 {
        font-family: 'Mulish', sans-serif !important;
        font-weight: 300;
    }
    h2 {
        font-size: 28px;
        font-weight: 600;
        font-family: 'Mulish', sans-serif !important;
    }
    img {
        width: 100%;
    }
}

.cover-content {
    position: absolute;
    top: 40vh;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        padding: 0 10px;
        margin-bottom: 0;
        text-align: center;
        display: block;
        width: 60%;
        background: white;
        font-size: 42px;
    }
}

.cover-tags {
    width: 60%;
    display: flex;
    align-items: center;
    div {
        margin-right: 10px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 24px;
        color: white;
        font-family: 'Inter', serif !important;
    }
}

@media screen and (max-width: 1120px) {
    .cover-content {
        h1 {
            font-size: 36px;
            width: 80%;
        }
    }
    .cover-tags {
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    .cover-content {
        h1 {
            width: 90%;
            font-size: 25px;
        }
    }
    .cover-tags {
        width: 90%;
        div {
            font-size: 18px;
        }
    }
    .content {
        h2 {
            margin: 10px 0;
        }
    }
}
