@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    scrollbar-width: thin;
    font-family: 'Mulish', sans-serif;
}

button:focus {
    box-shadow: none !important;
    *:hover {
        background: none;
    }
}

body,
html {
    overscroll-behavior: none !important;
    overscroll-behavior-y: none !important;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: saturation;
    padding: 0;
}

.noscroll {
    overflow-y: hidden !important;
    -ms-overflow-style: none;
}

.noscroll::-webkit-scrollbar {
    display: none;
}

.none {
    display: none;
}

.cyan {
    color: rgb(34 211 238);
}

.teal {
    color: rgb(45 212 191);
}

.yellow {
    color: rgb(234 179 8);
}

.red {
    color: rgb(239 68 68);
}

.blue {
    color: rgb(59 130 246);
}

.pink {
    color: rgb(219 39 119);
}

.white {
    font-weight: 600;
    color: white;
}

.gray {
    color: rgb(31 41 55);
}
