.container {
    padding: 20px 7.5%;
    margin: auto;
    scrollbar-width: initial;
    * {
        font-family: 'Inter', sans-serif;
    }
    button {
        margin-right: 15px;
        font-size: 20px;
        padding: 30px 0px !important;
        min-width: 250px;
    }
    h2,
    h2 * {
        font-weight: 800;
        font-size: 55px;
        line-height: 55px;
        margin-top: 30%;
        margin-bottom: 15%;
    }
}

.sticky-image {
    position: sticky;
    bottom: -5vh;
}

.button-group {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.title,
.title * {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
}

.subtitle {
    color: silver;
    padding-right: 14%;
    margin: 20px 0;
    font-weight: 400;
    line-height: 32px;
    font-size: 20px;
}

.testimonial {
    margin: auto;
    max-width: 500px;
    min-width: 400px;
    * {
        font-family: 'Inter', sans-serif;
    }
}

.carousel {
    overflow-x: scroll;
    width: 100%;
    padding: 20px;
    * {
        font-family: 'Inter', sans-serif;
    }
    & > * {
        min-width: 400px !important;
        background: #1e1e1e;
        height: 100%;
        border-radius: 7px;
        padding: 20px 30px;
        &:not(&:last-child) {
            margin-right: 20px;
        }
    }
}

.heading {
    width: 45%;
    margin: auto;
    margin-top: 5% !important;
}

.heading,
.heading * {
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    line-height: 64px;
    font-weight: 900;
}

.h1 {
    width: 50%;
    margin: auto;
    margin-top: 10% !important;
}

.h1,
.h1 * {
    font-size: 72px;
    font-family: 'Inter', sans-serif;
    line-height: 72px !important;
    font-weight: 900;
}

.text {
    width: 45%;
    margin: auto;
    margin-top: 5px;
    color: silver;
}

.text,
.text * {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.flex {
    & > div {
        flex: 1;
    }
    .heading {
        vertical-align: middle;
        margin: 50% auto !important;
    }
}

.compare {
    width: 80%;
    align-items: flex-start;
    top: 30vh;
    margin: 15vh auto;
    position: sticky;
    &-container {
        margin: 15vh auto;
        height: 300vh;
    }
    div {
        text-align: center;
        margin: 5% 10%;
        p {
            font-family: 'Inter', sans-serif;
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 700;
        }
    }
    img {
        min-width: 400px;
    }
}

.spinnageddon {
    display: none;
    position: relative;
    &-icons,
    &-text {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        img {
            max-width: 150px;
            position: fixed !important;
        }
    }
    &-text {
        text-align: center;
        top: 40%;
        font-size: 100px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }
}

.windows {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400 !important;
}

@media screen and (max-width: 1280px) {
    .button-group {
        flex-direction: column;
        button {
            width: 100%;
            margin-top: 10px;
        }
    }
    .h1 {
        width: 100%;
        padding: 0 5%;
    }
    .heading,
    .text {
        width: 100%;
        padding: 0 5%;
    }
    .subtitle {
        width: 100%;
    }
    .title,
    .title * {
        font-size: 48px !important;
        width: 100%;
        line-height: 55px;
    }
    .flex {
        flex-direction: column !important;
        & > div {
            width: 100% !important;
        }
        .heading {
            margin: 20% auto !important;
        }
    }
    .flex-sticky {
        bottom: 0 !important;
    }
    .sticky {
        height: 70% !important;
    }
    .container {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        padding: 5%;
        & > * {
            width: 100% !important;
            margin-bottom: 20px !important;
        }
        img {
            width: 100%;
        }
    }
    .heading {
        width: 100% !important;
    }

    .compare {
        flex-direction: column;
        top: 6vh;
        align-items: center;
        div {
            margin: 0%;
            p {
                margin: 30px 0;
            }
        }
        img {
            width: 200px;
        }
    }

    .spinnageddon-text-alt,
    .spinnageddon-text {
        font-size: 80px;
    }

    .spinnageddon {
        &-icons {
            img {
                max-width: 120px;
                position: fixed !important;
            }
        }
    }
}

@media screen and (max-width: 1020px) {
    .title,
    .title > span {
        width: 100% !important;
        font-size: 36px !important;
        line-height: 40px !important;
    }
    .subtitle {
        width: 100% !important;
        font-size: 16px !important;
        padding-right: 0;
    }
    .button-group {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .button-group button {
        font-size: 16px;
        padding: 25px !important;
    }
    .spinnageddon-text-alt,
    .spinnageddon-text {
        font-size: 60px;
    }
    .spinnageddon {
        &-icons {
            img {
                max-width: 80px;
                position: fixed !important;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .heading,
    .h1 {
        margin-top: 30%;
        &,
        & > * {
            font-size: 27.5px;
            line-height: 30px !important;
        }
    }
    .spinnageddon-text {
        font-size: 40px;
        top: 45vh;
        padding: 0 20px;
    }
}
