.messages {
    position: absolute;
    bottom: 48px;
    top: 48px;
    right: 0;
    left: 0;
    bottom: 48px;
    padding: 10px 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 850px) {
    .messages > div:last-child {
        margin-bottom: 32px !important;
    }
}
