.main {
    display: flex;
    flex-direction: column;
}

.content-grid {
    margin-top: 1%;
    padding: 0 5%;
    gap: 4px;
}

.filters {
    width: 100%;
    margin: 10px 0;
    padding: 0 5%;
    & > button {
        position: relative;
        width: 30%;
        margin: 0px 10px;
    }
}

.title {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.subtitle {
    font-weight: 900;
    font-family: 'Mulish', sans-serif;
    color: #979797;
    font-size: 24px;
}

.card {
    cursor: pointer;
    position: relative;
    margin: 5px 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
    border-radius: 7px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 7px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
    }
    video {
        border-radius: 7px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        right: 0;
        bottom: 0;
        background-size: cover;
        overflow: hidden;
    }
}

@media screen and (max-width: 1100px) {
    .card {
        grid-column: span 10 / span 10 !important;
        grid-row: span 100 / span 100 !important;
    }
}

// tablet
@media screen and (max-width: 980px) {
    .container {
        flex-direction: column;
    }

    .filters {
        width: 100vw;
        flex-direction: column;
        padding: 10px;
        & > button {
            width: 100%;
            margin: 5px 0px;
        }
    }

    .content-grid {
        gap: 1;
        padding: 0;
    }

    .sidebar,
    .content {
        width: 100% !important;
        padding-right: 0;
    }
}

// mobile
@media screen and (max-width: 800px) {
    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 18px;
    }
}
