.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    * {
        color: white;
    }
}

.title {
    font-size: 64px;
    font-weight: 700;
    margin: 0 20px;
}

.subtitle {
    font-size: 36px;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: auto;
}

.article {
    padding: 30px;
    font-size: 18px;
}

.heading {
    text-align: center;
    font-size: 46px;
    margin: 30px 0;
    font-weight: bold;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    margin: auto;
    &-heading {
        font-size: 46px;
        font-weight: bold;
    }
    &-sub {
        color: #c4c4c4;
        margin: 10px 0;
    }
    &-data {
        width: 100%;
        background: #fff;
        border-radius: 10px;
        -webkit-box-shadow: 0px 1px 9px -3px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 1px 9px -3px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 1px 9px -3px rgba(34, 60, 80, 0.2);
        div {
            text-align: center;
            padding: 20px 30px;
            position: relative;
            border-right: 2px solid #c0c0c01c;
            h1 {
                font-size: 55px;
                color: #8953cd;
            }
            h3 {
                color: silver;
                font-size: 18px;
            }
            &:last-child {
                border: none;
            }
        }
    }
}

.item {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    align-items: center;
    img {
        max-width: 200px;
        margin-bottom: 20px;
    }
    a {
        color: #0069ff;
        font-weight: 600;
        margin: 10px 0;
    }
    &-title {
        font-size: 55px;
    }
    &-subtitle {
        color: #646e68;
    }
}

.text {
    font-family: 'Noto-serif', sans-serif;
}

@media screen and (max-width: 1200px) {
    .content {
        width: 80%;
    }
    .title {
        font-size: 52px;
    }

    .subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 980px) {
    .stats {
        width: 100% !important;
    }
}

@media screen and (max-width: 700px) {
    .parallax {
        min-height: 300px;
    }
    .content {
        width: 90%;
    }
    .item img {
        width: 150px;
    }
    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 24px;
    }
    .stats-data div {
        border-right: 0;
        border-bottom: 2px solid #c0c0c01c;
        grid-column: span 3 / span 3 !important;
    }
}

@media screen and (max-width: 480px) {
    .parallax {
        min-height: 200px;
    }
    .title {
        font-size: 36px;
        text-align: center;
    }
    .subtitle {
        font-size: 20px;
        text-align: center;
    }
    .item img {
        width: 125px;
    }
    .item-title {
        font-size: 40px !important;
    }
}
