.form {
    align-items: center;
    justify-content: space-around;
    background: white;
    height: 48px;
    left: 0;
    right: 0;
    max-height: 48px;
    z-index: 9999999999999;
    padding: 30px 20px;
    position: absolute;
    bottom: 0;
    transition: 0.1s;
    width: 100%;
}

.input {
    font-size: 20px;
}

@media screen and (max-width: 850px) {
    .input {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .form {
        width: 95%;
        padding: 30px 0;
    }
}
