.header {
    padding: 10px 5%;
    font-size: 17px;
    transition: 0.3s;
    a {
        opacity: 1;
        font-size: 20px;
        font-weight: 400;
        margin: 0 10px;
        font-family: 'Mulish', sans-serif !important;
    }
}

.active {
    opacity: 1;
    border-radius: 5px;
}

.drawer {
    display: none !important;
    z-index: 9999999999999999999999;
}

@media screen and (max-width: 1120px) {
    .header-nav__links,
    .options {
        display: none !important;
    }
    .drawer {
        display: block !important;
    }
}
