.container {
    color: white;
    background: #3730a3;
    border-radius: 10px;
    font-weight: 400;
    margin: 20px 0;
    & > div {
        padding: 30px 20px;
        border-right: 3px solid #312e81;
        &:last-child {
            border: none !important;
        }
        & > div {
            position: relative;
            margin: 20px 0;
            width: 80%;
            font-size: 18px;
            font-weight: 100 !important;
        }
    }
    p {
        color: #a5b4fc;
    }
}

.avatar {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    border: 2px solid #fff;
    & img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -khtml-border-radius: 50%;
        vertical-align: middle;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        & > div {
            padding: 20px;
            border-right: none;
            border-bottom: 3px solid #312e81;
            & > div {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .container {
        & > div {
            grid-column: span 2 / span 2;
        }
    }
}
