.container {
    width: 100%;
    color: white;
    background: #4f46e5;
    padding: 10px 20px;
}

.title {
    font-size: 18px;
}

.button {
    background: white !important;
    color: #4f46e5;
}

.button-right {
    &:hover,
    &:active {
        background: white !important;
    }
}

.button-large {
    margin-top: 15px;
    display: none !important;
    font-size: 16px !important;
    &:hover,
    &:active {
        background: white !important;
    }
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 16px;
    }
    .button-right {
        display: none !important;
    }
    .button-large {
        display: block !important;
    }
}
