.content {
    position: relative;
    max-width: 45%;
    margin: 5px 0;
    padding: 10px;
    font-size: 15px;
    white-space: pre-wrap;
    border-radius: 15px;
    a {
        text-decoration: underline;
    }
}

.date {
    float: right;
    margin: 2.5px 5px;
    opacity: 0.4;
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .content {
        max-width: 70%;
    }
}

@media screen and (max-width: 850px) {
    .content {
        max-width: 60%;
    }
}

@media screen and (max-width: 770px) {
    .content {
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .content {
        max-width: 90%;
    }
    .date {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .content {
        max-width: 100%;
    }
}
